services:
  - type: web
    name: accident-hotspot-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5050
      - key: MONGO_URI
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: JWT_SECRET
        sync: false

